@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.container{
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.form{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 550px;
    width: 650px;
    background-color: rgba(255, 255, 255, 0.088);
    padding: 5px;
    margin-bottom: 70px;
}

.divForm2{
    display: flex;
    flex-direction: row;
}

.text-label{
    
}

.label{
    width: 145px;
    border: 1px solid black;
    border-radius: 10px;
    background: none;
    margin: 5px;
}

.title{
    
}



.checkboxs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 650px;

}



.genn ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    font-size: 15px;
}

.platt{
    
}

.platt ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
} 
