 .container{
    border: 3px solid green;
    height: 94vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divForm2{
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}

.title{
    border: 3px solid blue;
}

.form{
    border: 3px solid red ;
    height: 550px;
    width: 700px;
}

.checkboxs{
    border: 3px solid greenyellow ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 700px;

}

.container button {
    font-family: 'Poppins', sans-serif;
      color: white;
      font-size: 100%;
      border: solid 1px white;
      border-radius:20px;
      background:none;
      margin-top: 10px;
}
  
  .container button:hover {
    cursor: pointer;
    font-size: 115%;
    transform-origin: center;
    text-shadow: 0 0 5px #fff,
  };




.genn{
    border: 3px solid red ;
}

.genn ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
}

.platt{
    border: 3px solid green ;
    
}

.platt ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
} 
